body, html {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
}

.host-button-container {
  text-align: right;
  padding: 10px;
}

#host-button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#host-button:hover {
  background-color: #555;
}

.event-details, .event-location, .photo-slider, .host-details, .rsvp-form-container {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.event-location iframe {
  border-radius: 10px;
}

.rsvp-form-container form {
  display: flex;
  flex-direction: column;
}

.rsvp-form-container label, 
.rsvp-form-container input,
.rsvp-form-container button {
  margin-bottom: 15px;
}

.rsvp-form-container input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.rsvp-form-container button {
  padding: 10px;
  background: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.rsvp-form-container button:hover {
  background: #45a049;
}

.slider img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.event-details h2, .event-location h2, .photo-slider h2, .host-details h2, .rsvp-form-container h2 {
  color: #333;
  margin-bottom: 10px;
}

/* Button Alignment for RSVP Choices */
#yes-button, #no-button {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  flex: 1;
}

#yes-button:hover, #no-button:hover {
  background-color: #45a049;
}

#submit-button {
  display: none;
  background-color: #007BFF;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

#submit-button:hover {
  background-color: #0056b3;
}

.slider {
  width: 100%;
  margin: 0 auto;
  overflow: hidden; /* Added to prevent overflow issues */
  position: relative; /* Added to ensure proper positioning */
}
.slider img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
